*{
  font-family: sans-serif;
  margin:0;
  padding: 0;
}

nav{
  background-image: linear-gradient(black, dimgray);
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0 100px;
  position: fixed;
}
nav .logo h1{
  font-family: "Courier New";
  color: white;
  float: left;
  letter-spacing: 1.5px;
  cursor: pointer;
}

nav ul{
  float: right;
}

nav ul li{
  color: white;
  list-style: none;
  display: inline-block;
}

nav ul li a{
  font-size: 18px;
  padding: 0 12px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover{
  color: #E5B110;
  transition: all 0.4s ease 0s;
}

.text{
  background: #d6d6db;
  padding: 100px 120px;
}
.content-inside img {
  float: right;
  width: 60%;
  height: 45%;
}

.box{
  display: flex;
  margin-top: 20px;
  width: 1000px;
  height: 400px;
}

.center-col img{
  width: 300px;
  height: 200px;

}

.center-col{
  margin: 50px;

}

.box .center-col a{
  color: white;
  text-decoration: none;
  background: orange;
  font-size: 15px;
  border: 3px solid orange;
  text-align: center;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
}

.box .center-col a:hover{
  background: dimgray;
  transition: all 0.4s ease 0s;
}

.box h3{
  font-size: 30px;
  text-align: center;

}

.footer{
  background-color: #222222;
}

.footer-col{
  width: 25%;
  padding: 15px 15px;
}

.container{
  max-width: 1170px;
  margin: auto;

}

.row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col h4{
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
  font-weight: 200;
}
.footer-col p{
  color: white;
  font-size: 13px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  line-height: 40px;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

p{
  padding: 10px 40px;
  text-align: center;
}

.pos_cen{
  float: right;
  width: 30%;
}

.text{
  position: static;
  width: 80%;
  left: 15%;
  top:20%
}

.text a{
  color: white;
  text-decoration: none;
  background: orange;
  font-size: 15px;
  border: 3px solid orange;
  text-align: center;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;

}

.text a:hover{
  background: dimgray;
  transition: all 0.4s ease 0s;
}



